#homeletteHeader{
	background:rgba(255,0,255,0.5);
	padding:30px;
	border-style: solid;
}

#summaryHeader{
	background:rgba(0,255,255,0.5);
	padding:10px;
	border-style: solid;
}

#planningWindow{
	background:#808080;
	top:400px;
	height:175px;

}



#start{
	left:30px;
}

#starterButton{
	position: relative;
}

.panel-body {
    text-overflow: ellipsis;
    overflow: hidden;
}
.recipePanel {
	padding:10px;
}

.recipeCard {
	border-style: solid;
	height:180px;
	width:180px;
}

.recipeName {
	border-style: solid;
	background:rgb(255,255,255);
	position:absolute; 
	bottom:0;
	width:180px;
	left:15px;
}

.recipeImage img{
	width:100%;
	height:100%;
}

#fullMenuView{
	padding: 50px;
	background:white;
}

.priceDiv {
	font-size:14pt;

}

.totalPriceDiv{
	border-left:1px solid;
}

.background{
	background:white;
	padding:25px;
}


h1 {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
	font-size: 36px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.3999996185303px;
}

h2 {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
	font-size: 24;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.3999996185303px;
}



small{
	font-color:#FFFFFF;
}

body{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
}

.insideSearchBar{
	padding:10px;
}

#searchResultView{

	border-top: 3px solid;
	padding-top: 20px;

}

#sideSummaryView{
	padding-bottom: 30px;,

}

#pageheader1{
	background: #0f8592;
	position: relative;
	padding:20px;
	color:white;
}
.subTitle{
	color:white;
}

#summaryViewHeader{
	border-bottom: 3px solid;
	padding:15px;
}

#summaryView{
	padding:30px;
	
}

#overviewView{
	padding:20px;
}

#printRecipeView{
	top:30px;
}

.recipeRow{
	padding:20px;
	border-bottom:3px solid;
	background: #cfdddf;
}

#loadingImage{
	position:absolute;
	vertical-align:middle;
	height:100px;
	width:100px;
}