<ng-include src="'partials/summary-header.html'" ng-controller="PreparationCtrl"></ng-include>

<div>
	<div class="row recipeRow" ng-repeat="dish in dishes">
		<div class="col-xs-2">
			<img class="img-responsive center-block" ng-src="{{dish.ImageURL}}"/>
		</div>
		<div class="col-xs-5">
			<h2>Preparation</h2>
			{{dish.Instructions}};
		</div>
		<div class="col-xs-5">
			<table class="table">
				<tr>
					<td><b>Name</b></td>
					<td><b>Quantity</b></td>
					<td><b>Price</b></td>
					<td><b>Unit</b></td>
				</tr>
				<tr ng-repeat="ingredient in dish.Ingredients">
					<td>{{ingredient.Name}}</td>
					<td>{{ingredient.Quantity*getNumberOfGuests()}}</td>
					<td>{{ingredient.Price*getNumberOfGuests()}} SEK</td>
					<td>{{ingredient.Unit}}</td>
				</tr>
				<tr>
					<td>Total</td>
					<td>{{getDishPrice(dish)}}</td>
				</tr>
			</table>
		</div>
	</div>
	
</div>
