<!-- We include the sidebar as it is shared across two screens. -->
<ng-include src="'partials/dinner-sidebar.html'" ng-controller="DinnerCtrl"></ng-include>

<!--Right side-->
<div class="col-xs-10">
	<div class="row searchDiv">
		<!--Contains searchbar-->
		<div class="col-xs-12">
			<input ng-model="query"/>
			<a class="btn btn-defailt btn-lg" ng-href="#/search/{{query}}" ng-click="search(query)">Search</a>
		</div>
		{{status}} 

	</div>
		<!--Lower portion-->
	<div class="row searchResults">
		<div class="col-xs-12">
			<div class="col-xs-2" ng-repeat="dish in dishes"> 
				<div class="panel panel-default recipeCard" >
					<div class="panel-body">
						<img class="img-responsive center-block img-thumbnail" ng-src="{{dish.ImageURL}}"/>
						 {{dish.Title}}
						 
						 <div>
						 	<button class="btn btn-default btn-xs" ng-click="confirmDish(dish)">Add Dish</button>
						 	<a ng-href="#/dish/{{dish.RecipeID}}" class="btn btn-default btn-xs">View more</a>
						 </div>
						 
					</div>
				</div>
			</div>
		</div>
	</div>
	<a id="showMoreButton">Show more...</a>
</div>






<!-- TODO in Lab 5: Display the input box for search (you can ignore the type dropdown since BigOven does
not support it in free version) and list all the dishes that match the search. -->